@import '~bootstrap/scss/bootstrap';

// .container {
//   color: #0ff;
//   height: 60px;
//   margin-top: 10px;
// }

#audio-player {
  height: 250px;
  width: 150px;
}

#navbar {
  margin-bottom: 15px;
}

#small-img-container {
  margin-top: 25px;
}
